* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "roboto", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  
}

.container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
  border-radius: 20px;
}

.error {
  color: orange;
  font-weight: 400;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}

.input-field {
  margin: 4px 0;
  padding: 10px 4px;
  outline: none;
  border: 1px solid #fff;
  background: inherit;
  color: #fff;
  font-size: 1rem;
}

.label {
  font-weight: 500;
}

.btn {
  padding: 12px 4px;
  font-size: large;
  font-weight: 700;
  background: #fff;
  color: #2f2f2f;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-top: 20px;
}

.passError {
  max-width: 300px;
}
